<html>
<body style="font-family: sans-serif;">
<div style="white-space: pre;background-color: #EEF4ED;">using System;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using System.IO;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">namespace DiceGame.View</div>
<div style="white-space: pre;background-color: #EEF4ED;">{</div>
<div style="white-space: pre;background-color: #EEF4ED;">    public class ConsoleView : IConsoleView</div>
<div style="white-space: pre;background-color: #EEF4ED;">    {</div>
<div style="white-space: pre;background-color: #EEF4ED;">        private StringWriter _output;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        //private StringReader _input;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string MENU = &quot;Dice Game Menu\n Bet (h)igher or (l)ower or (q)uit&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string QUIT = &quot;Thank you for playing and welcome back next time&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string BET = &quot;Place your bet: &quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #D2EACE;">        public ConsoleView(StringWriter output/*, StringReader input*/)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Output = output;</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.SetOut(Output);</div>
<div style="white-space: pre;background-color: #EEF4ED;">            //Input = input;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public StringWriter Output</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            get { return _output; }</div>
<div style="white-space: pre;background-color: #EEF4ED;">            set</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                _output = value;</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        /*public StringReader Input</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #EEF4ED;">            get { return _input; }</div>
<div style="white-space: pre;background-color: #EEF4ED;">            set</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #EEF4ED;">                _input = value;</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }*/</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showMenu()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(MENU);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showQuitMessage()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(QUIT);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showBetting()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(BET);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public bool userQuits()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #EACECC;">            return false;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public int getUserBet()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #EACECC;">            return 0;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">    }</div>
<div style="white-space: pre;background-color: #EEF4ED;">}</div>
</body>
</html>
