<html>
<body style="font-family: sans-serif;">
<div style="white-space: pre;background-color: #EEF4ED;">using System;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using System.IO;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using System.Threading;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">namespace DiceGame.View</div>
<div style="white-space: pre;background-color: #EEF4ED;">{</div>
<div style="white-space: pre;background-color: #EEF4ED;">    public class ConsoleView : IConsoleView</div>
<div style="white-space: pre;background-color: #EEF4ED;">    {</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string MENU = &quot;Dice Game Menu\nPress any key to play or &#39;q&#39; to quit.&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string QUIT = &quot;Thank you for playing and welcome back next time.&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string BET = &quot;Place your bet: &quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string QUIT_OPTION = &quot;q&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string YOU_BET = &quot;\nYou bet: &quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string ROLL = &quot;\nRolling the dice...&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string WINNER = &quot;\nYou are a winner!\nPress any key to play again or &#39;q&#39; to quit&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string LOSER = &quot;\nYou lost.\nPress any key to play again or &#39;q&#39; to quit&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string GAME_OVER = &quot;GAME OVER!&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showMenu()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(MENU);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showQuitMessage()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(QUIT);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showPlayerPoints(int points)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.Clear();</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(&quot;Player has {0} points.&quot;, points);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showGameOver()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(GAME_OVER);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showBetting()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(BET);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public bool userQuits()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            string quit = Console.ReadLine();</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #D2EACE;">            if (quit == QUIT_OPTION)</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                return true;</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #D2EACE;">            return false;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public string getUserBet()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            string bet = Console.ReadLine();</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(YOU_BET + &quot;{0}&quot;, bet);</div>
<div style="white-space: pre;background-color: #D2EACE;">            return bet;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showRollMessage()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(ROLL);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showException(string message)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(message);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showWinner(bool isWinner)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            if (isWinner)</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                Console.WriteLine(WINNER);</div>
<div style="white-space: pre;background-color: #EEF4ED;">            } else</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                Console.WriteLine(LOSER);</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showDiceValues(int[] dice)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Thread.Sleep(1500);</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(&quot;\nDice 1: {0}&quot;, dice[0]);</div>
<div style="white-space: pre;background-color: #D2EACE;">            Thread.Sleep(1500);</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(&quot;Dice 2: {0}&quot;, dice[1]);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">    }</div>
<div style="white-space: pre;background-color: #EEF4ED;">}</div>
</body>
</html>
