<html>
<body style="font-family: sans-serif;">
<div style="white-space: pre;background-color: #EEF4ED;">using System;</div>
<div style="white-space: pre;background-color: #EEF4ED;">using System.IO;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">namespace DiceGame.View</div>
<div style="white-space: pre;background-color: #EEF4ED;">{</div>
<div style="white-space: pre;background-color: #EEF4ED;">    public class ConsoleView : IConsoleView</div>
<div style="white-space: pre;background-color: #EEF4ED;">    {</div>
<div style="white-space: pre;background-color: #EEF4ED;">        private StringWriter _output;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string MENU = &quot;Dice Game Menu\nPress any key to play or &#39;q&#39; to quit&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string QUIT = &quot;Thank you for playing and welcome back next time&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string BET = &quot;Place your bet: &quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public const string QUIT_OPTION = &quot;q&quot;;</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #D2EACE;">        public ConsoleView(StringWriter output)</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Output = output;</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.SetOut(Output); // Only for testing</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public StringWriter Output</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            get { return _output; }</div>
<div style="white-space: pre;background-color: #EEF4ED;">            set</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                _output = value;</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showMenu()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(MENU);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showQuitMessage()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(QUIT);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public void showBetting()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(BET);</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public bool userQuits()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            string quit = Console.ReadLine();</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #D2EACE;">            if (quit == QUIT_OPTION)</div>
<div style="white-space: pre;background-color: #EEF4ED;">            {</div>
<div style="white-space: pre;background-color: #D2EACE;">                return true;</div>
<div style="white-space: pre;background-color: #EEF4ED;">            }</div>
<div style="white-space: pre;background-color: #D2EACE;">            return false;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">&nbsp;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        public string getUserBet()</div>
<div style="white-space: pre;background-color: #EEF4ED;">        {</div>
<div style="white-space: pre;background-color: #D2EACE;">            string bet = Console.ReadLine();</div>
<div style="white-space: pre;background-color: #D2EACE;">            Console.WriteLine(&quot;{0}&quot;, bet);</div>
<div style="white-space: pre;background-color: #D2EACE;">            return bet;</div>
<div style="white-space: pre;background-color: #EEF4ED;">        }</div>
<div style="white-space: pre;background-color: #EEF4ED;">    }</div>
<div style="white-space: pre;background-color: #EEF4ED;">}</div>
</body>
</html>
